@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #171717;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.table-cell-no-padding {
  padding: 0;
}